<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <script>
            $(document).ready(function () {
                showArticles();
            });

            function openImg() {
                window.open("../static/m_icon.jpg")
            }

            function postArticle() {
                let url = $('#post-url').val()
                let comment = $('#post-comment').val()
                $.ajax({
                    type: "POST",
                    url: "/memo",
                    data: {url_give:url, comment_give:comment},
                    success: function (response) { // 성공하면
                        alert(response["msg"]);
                        window.location.reload();
                    }
                })
            }

     </script>
</head>
<body>

<a onclick="openImg(t)"> 사진열기</a>
<a onclick=""
</body>
</html>