<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <title>Team DI</title>


    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>

        <!-- 구글폰트 -->
        <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">

    <script type="text/javascript"></script>

</head>
<body>
     <div class="container">
            <img src="https://previews.123rf.com/images/maxxyustas/maxxyustas1511/maxxyustas151100002/47858355-education-concept-books-and-textbooks-on-the-bookshelf-3d.jpg"
                 class="img-fluid" alt="Responsive image">
            <div class="info">
                <h1>Socar</h1>
                <p>Don't</p>
                <form methods="get" id = "login" action={{url_for("login")}}>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">e-mail</span>
                    </div>
                    <input type="text" class="form-control" name="email" id="email">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">password</span>
                    </div>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                <   <button onclick="makeReview()" type="submit" class="btn btn-primary">로그인</button>
                    </form>
                <div class="review">
                    <button onclick="makeReview()" type="button" class="btn btn-primary">로그인</button>
                </div>
            </div>

        </div>
</body>
</html>